.bm-category {
  display: flex;
  flex-direction: column;

  background: hsla(var(--stl-surface-base), 0.6);
  backdrop-filter: blur(1em);
  border-radius: 8px;
  border: 2px solid hsl(var(--stl-surface-surface0));

  > p.name {
    padding: 8px;
  }

  > .links {
    background: hsla(0, 0%, 0%, 0.2);
    border-radius: 8px;
    height: 100%;
    padding: 8px;

    > .link {
      display: flex;
      flex-direction: row;
      align-content: center;
      vertical-align: center;
      gap: 16px;
      padding: 4px 8px;

      border-radius: 4px;
      border: 2px solid transparent;
      color: hsl(var(--stl-surface-subtext1));
      text-decoration: none;
      transition: 0.15s ease-in-out;

      > img {
        width: 24px;
        height: 24px;
        transition: 0.15s ease-in-out;
      }

      &:hover {
        color: hsl(var(--stl-surface-text));
        border: 2px solid hsl(var(--stl-surface-surface0));
        background: hsla(var(--stl-surface-surface0), 0.5);
        padding-left: 16px;
        > img { filter: drop-shadow(0 0 4px hsl(var(--stl-surface-overlay0))); }
      }
    }
  }
}
